.login-form {
    /* border: 2px solid red; */
    display: flex;
    margin: 50px auto;
    max-width: 400px;
    flex-direction: column;
}

.login-form input,
.login-form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-form label {
    margin: 20px 5px;
    margin-bottom: 5px;
}

.login-form div {
    padding: 0 0px;
}

@media screen and (max-width: 479px) {
    .login-form {
        margin: 50px 20px
    }
}